In [ ]:
# for loop

In [1]:
a="kiran"
for letter in a:
    print(letter)

k
i
r
a
n

In [2]:
for i in range(0,6,1):
    print(i)

0
1
2
3
4
5

In [3]:
for i in range(1,10,2):
    print(i,end="  ")

1  3  5  7  9

In [4]:
a=[1,2,3,4,5]
for element in a:
    print(element)

1
2
3
4
5

In [5]:
for i in range(10):
    if i==7:
        break
    else:
        print(i)

0
1
2
3
4
5
6

In [7]:
for i in range(1,20,1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [18]:
#factorial of a number
n1=int(input())  
sum1=1
for i in range(1,n1+1):
    sum1=sum1*i
print(sum1)

4
24

In [20]:
 # factors of a number
n1=int(input())  
for i in range(1,n1+1):
    if n1%i==0:
        print(i)

20
1
2
4
5
10
20

In [24]:
n=int(input())
i=1
sum1=0
while i<=10:
    sum1=n*i
    print(sum1,end=" ")
    i=i+1

10
10 20 30 40 50 60 70 80 90 100

In [ ]:
# while loop

In [9]:
n=int(input())
i=1
while i<=n:
    print(i,end=" ")
    
    i=i+1

10
1 2 3 4 5 6 7 8 9 10

In [10]:
x=1
while x<11:
    if x%2==0:
        print(x)
    x=x+1

2
4
6
8
10

In [11]:
x=10
while x>0:
    print(x)
    x=x-1

10
9
8
7
6
5
4
3
2
1

In [13]:
x=2
while x<20:
    if x%2==0:
        print(x,end=" @ ")                                                                                                                    
    x=x+1

2 @ 4 @ 6 @ 8 @ 10 @ 12 @ 14 @ 16 @ 18 @

In [15]:
x=50
while x>0:
    if x%2==1:
        print(x,end=" ")
    x=x-1

49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [19]:
# factorial of a number
n1=int(input())  
sum1=1
i=1
while i<=n1:
    sum1=sum1*i
    i=i+1
print(sum1)

5
120

In [21]:
 # factors of a number
n1=int(input()) 
i=1
while i<=n1:
    if n1%i==0:
        print(i)
    i=i+1

5
1
5

In [ ]:
# multiples of a number
n1=int(input())     
i=1
sum1=0
while i<=10:
    sum1=n1*i
    i=i+1
    print(sum1)